* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    

}

body {
    /* background-color: aqua; */
    transform: translate3d(0, 0, 0);
    background-color: #f2f3f9;
}

ul {
    list-style-type: none;
    width: 100%;

}

.nav {
    position: relative;
    z-index: 3;
    position: sticky;
    
    


}

li {
    position: relative;
    width: 100%;
    transition: all .3s ease-in-out;
}

/* li {
    position: relative;
    width: 100%;
    transition: background 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
} */
.drawer {
    position: absolute;
    background-color: white;
    top: 0;
    width: 30px;
    
    padding: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: width ease-in-out 0.3s;
    
    
}

.drawer:hover {
    width: 200px;
    transition: all ease-in-out .5s;
}

.logoImag {
    width: 30px;
    transform: translateX(2px);
}
/* .dashboard{
    margin-left: 40px;
} */

.logo {
    display: flex;
    gap: 15px;
    text-align: center;
    align-items: center;


}

.hidden {
    color: #76839a;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 11px;


    font-weight: 500;

    opacity: .7;
    padding-bottom: 10px;
}

.title {
    font-size: 14px;
    font-weight: 400;
    color: #495584;
    line-height: 3.5;
    position: relative;
    display: block;
    white-space: nowrap;
}

.icon {
    color: #495584;
    min-width: 45px;
    align-items: center;
    padding-left: 5px;
}

a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
    display: flex;

}

.flexa {
    line-height: 3;
    font-weight: 500;
}

li:hover {
    background: #efefef;
    border-radius: 25px;

    transition: all .3s ease-in-out;

}



.hidden {
    display: none;
}

.drawer:hover .hidden {
    display: block;
}

.dashboard {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mainnav {
    display: flex;
    padding: 16px;


}

.fa-bars-staggered {
    color: #495584;

    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 2px 3px #0404071a;
}

.fa-bars-staggered:hover {
    background-color: #f5f5f5;
}

.leftmainnavinput {

    border-radius: 20px;
    /* box-shadow: 0 2px 3px #0404071a; */
    background: #fff;
    border: 1px solid #eaedf1;
    max-width: 350px;
    height: 40px;
    position: relative;
    padding: 0px 40px 0px 20px
}

input:focus {
    outline: none;
}

.leftmainnav {
    display: flex;
    align-items: center;
    gap: 20px;

}

.fa-magnifying-glass {
    transform: translateX(-40px);
    color: #495584;


}

.leftmainnavinput {
    position: relative;
}

.rightmainnav {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.fa-moon,
.fa-compress,
.fa-bell,
.fa-envelope-open,
.fa-bars,
.fa-gear {
    color: #495584;

    padding: 6px;
    border-radius: 50%;
    box-shadow: 0 2px 3px #0404071a;
    font-size: 24px;
}

.mainnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon:hover,
.fa-compress:hover,
.fa-bell:hover,
.fa-envelope-open:hover,
.fa-bars:hover,
.fa-gear:hover {
    background-color: #f5f5f5;
}

.rightmainnavimg {
    width: 36px;
    height: 36px;
    transform: translateY(3px);



    border-radius: 50%;


}

.notificationinner {
    position: absolute;
    display: none;
    min-width: 250px;
    top: 150%;
    left: -150%;

}

.notification {
    position: relative;
}

.fa-bell {
    position: relative;
}

.notificationinner {
    display: flex;

    flex-direction: column;
    /* border: 1px solid #eaedf1!important; */
    box-shadow: 0px 0px 2px 2px ghostwhite;
    border-radius: 5px;
    position: absolute;
    display: none;
    min-width: 250px;
    top: 150%;
    left: -150%;
}

.notificationinnerheading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;

}

.notificationinnerheading h6 {
    color: #8f9daf;
    font-size: 16px !important;

}

.notificationinnerheading p {
    background: #09ad95 !important;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 4px;
    object-fit: cover;
    object-position: center;
    align-items: center;
    text-align: center;
}

.notificationinnerheadingmessageinner h5 {
    font-size: 13.5px;
    color: #0d0c22;
    font-weight: 500;
}

.notificationinnerheadingmessageinner p {
    font-size: 12px;
    color: #76839a;
}

.notificationinnerheadingmessage {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;
}

.notificationinnerheadingmessage .fa-message {
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    background: #6e84a3;
    color: white;
    text-align: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notificationinnerheadingmails {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;

}

.notificationinnerheadingmails .fa-envelope {
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    background: pink;
    color: white;
    text-align: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notificationinnerheadingmails h5 {
    font-size: 13.5px;
    color: #0d0c22;
    font-weight: 500;
}

.notificationinnerheadingmailsinner p {
    font-size: 12px;
    color: #76839a;
}

.notificationinnerheadingorder {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;

}

.notificationinnerheadingorder .fa-cart-shopping {
    min-width: 36px;
    min-height: 36px;
    border-radius: 50%;
    background: skyblue;
    color: white;
    text-align: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notificationinnerheadingorder h5 {
    font-size: 13.5px !important;
    color: #0d0c22;
    font-weight: 500;
}

.notificationinnerheadingorderinner p {
    font-size: 12px;
    color: #76839a;
}

.notificationinnerheadingorderinner,
.notificationinnerheadingmailsinner,
.notificationinnerheadingmessageinner {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.viewallnotification {
    /* display: flex;
    align-items: center; */
    /* justify-content: space-between; */
    gap: 20px;
    padding: 16px;
    border-bottom: 1px solid #eaedf1 !important;
    color: #76839a !important;
    text-align: center;

}

.navmessage {
    position: relative;
    display: flex;
    flex-direction: column;

}

.fa-envelope-open {
    position: relative;
    display: flex;
    flex-direction: column;

}

.navmessageinner {
    position: absolute;
    min-width: 200px;
    top: 150%;
    left: -150%;
    display: none;
    box-shadow: 0px 0px 2px 2px ghostwhite;
    border-radius: 5px;
}

.navmessageinnerheading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;

}

.navmessageinnerheading h6 {
    color: #8f9daf;
    font-size: 12px !important;

}

.navmessageinnerheading p {
    background: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-size: 12px;
    object-fit: cover;
    object-position: center;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 500;
}

.navmessageinnercontent {
    display: flex;
    padding: 4px;
    gap: 10px;
    border-bottom: 1px solid #eaedf1 !important;

}

.navmessageinnercontentimage img {
    border-radius: 50%;
    max-width: 30px;
    max-height: 30px;
}

.navmessageinnercontent1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navmessageinnercontent12 {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.navmessageinnercontent12 p {
    font-size: 12px;
    color: #76839A;
    text-align: right;
}

.navmessageinnercontent12 h5 {
    font-size: 12px;
}

.navmessageinnercontent123 p {
    font-size: 12px;
    color: #76839A;

}

.viewallnotification1 {
    /* display: flex;
    align-items: center; */
    /* justify-content: space-between; */
    gap: 20px;
    padding: 8px;
    font-size: 12px;
    border-bottom: 1px solid #eaedf1 !important;
    color: #76839a !important;
    text-align: center;

}

.navprofile {
    position: relative;
    
}

.rightmainnavimg {
    position: relative;
}

.navprofileinner {
    position: absolute;
    min-width: 180px;
    top: 150%;
    left: -200%;
    display: none;
    box-shadow: 0px 0px 2px 2px ghostwhite;
    border-radius: 5px;

}

.navprofileinnername {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;
}

.navprofileinnername p {
    font-size: 8px;
    color: #76839A;

}

.navprofileinnersub {
    color: #0d0c22;
    display: flex;
    gap: 10px;
    padding: 8px 4px 8px 12px;
    align-items: center;
    border-bottom: 1px solid #eaedf1 !important;
}

.navprofileinnersub p {
    font-size: 12px;
    color: #0d0c22;
}

.navprofileinnersub i {
    font-size: 12px;
    color: #0d0c22;
}

.navprofileinnersub .fa-gear {
    color: #0d0c22;

    padding: 0px;

    box-shadow: 0px;
    font-size: 12px;

}

.rightnotification {
    position: absolute;
    right: 0;
    min-width: 300px;
    z-index: 4;
    background: white;
    box-shadow: 0px 0px 2px 2px ghostwhite;
    display: none;
    transition: all .3s ease-in-out;
    overflow: hidden;



}

.r1 {
    background-color: blue;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;

}

.rightnotificationsub p {
    color: #6259ca;
}

.rightnotificationsub {
    display: flex;
    gap: 20px;
    padding: 8px;
}

.rightnotificationimg img {
    border-radius: 50%;
    border: 2px solid #6259ca;
    box-shadow: 0 5px 5px #2c2c2c33;
    padding: 3px;
    background: #e8e9f5;
    width: 60px;
    height: 60px;
}

.rightnotificationimg {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #eaedf1 !important;
}

.navprofileinner1 {

    display: block;




}

/* .navprofileinnername1{
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #eaedf1!important;
}
.navprofileinnername1 p{
    font-size: 8px;
    color: #76839A;

} */
.navprofileinnersub1 {
    color: #0d0c22;
    display: flex;
    gap: 10px;
    padding: 8px 4px 8px 12px;
    align-items: center;
    border-bottom: 1px solid #eaedf1 !important;
}

.navprofileinnersub1 p {
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.navprofileinnersub1 i {
    font-size: 18px;
    color: white;
    padding: 8px;
    background-color: #6259ca;
    border-radius: 50%;
}

.navprofileinnersub1 .fa-gear {
    font-size: 18px;
    color: white;
    padding: 8px;
    background-color: #6259ca;
    border-radius: 50%;


}

p.navprofileinnersub1light {
    font-size: 14px;
    font-weight: 500;
    color: #8f9daf;

}

.navprofileinnersub1flex {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dashboardcontent{
    background-color: #f2f3f9;
}
.dashboardcontentheaderleft h1{
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-bottom: 0.2em;
}
.dashboardcontentheaderleft p{
    font-size: 12px;
}
.purplecolor{
    color: #6259ca;
}
.dashboardcontentheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.dashboardcontentheaderright{
    display: flex;
    gap: 10px;

}
.dashboardcontentheaderright1{
    background-color: #6259ca;
    color: white;
    padding: 6px;
    border-radius: 5px;
    border: none;
}
.dashboardcontentheaderright2{
    color: white;
    background-color: #198754;
    padding: 6px;
    border-radius: 5px;
    border: none;
}
.notificationinner{
    background-color: white;
}
.navmessageinner{
    background-color: white;
}
.navprofileinner{
    background-color: white;
}
.card1{
    background-color: white;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 5px;
    font-size: 12px;
}
.card1inner{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}
.dashboardcontentcard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card1inner h6{
    font-weight: 400;
    font-size: .875rem;
}
.fa-circle-arrow-up{
    color: green;
}
.card1color{
    color: green;

}
.cardcolor{
    color: #76839A;
}
.card1inner h3{
    font-size: 1.5rem;
    font-family: 600;
}
.fa-chart-line{
    font-size: 24px;
    padding: 12px;
    border-radius: 50%;
    background-color: #6259ca;
    color: white;
}
.dashboardcontentcard2card1{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px;
    border-radius: 10px;

}
.dashboardcontentcard2card1content1{
    display: flex;
    gap: 10px;
    align-items: center;
   
    
 
    
}
.dashboardcontentcard2card1content2{
    display: flex;
    gap: 10px;
    align-items: center;
    
 
}
.dashboardcontentcard2card1content3{
    display: flex;
    gap: 10px;
    align-items: center;

}
.dashboardcontentcard2card1content4{
    display: flex;
    gap: 10px;
    align-items: center;
    
 
   
}
.dashboardcontentcard2card1content5{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.dashboardcontentcard2card1content1flex{
    display: flex;
    gap: 10px;
}
.fa-user-plus{
    color: #6259ca;
    font-size: 18px;
   
   
    
}
.fa-thumbs-up{
    color: orange;
    font-size: 20px;
   

}
.fa-truck{
    color: rosybrown;
    font-size: 20px;

}
.fa-signs-post{
    color: skyblue;
    font-size: 20px;
}
.fa-comment{
    color: green;
    font-size: 20px;
   

}
.fa-truck:before{
    border: 1px solid rosybrown;
    border-radius: 50%;
    padding: 6px;

}
.fa-signs-post:before{
    border: 1px solid skyblue;
    border-radius: 50%;
    padding: 6px;

}
.fa-comment:before{
    border: 1px solid green;
    border-radius: 50%;
    padding: 6px;

}
.fa-thumbs-up:before{
    border: 1px solid orange;
    border-radius: 50%;
    padding: 6px;

}



.fa-user-plus:before{
    border: 1px solid #6259ca;
    border-radius: 50%;
    padding: 6px;

}
.dashboardcontentcard2card1content1p{
    color: white;
    padding: 4px;
    background-color: #6259ca;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
   
}
.dashboardcontentcard2card1content3p{
    color: white;
    padding: 4px;
    background-color: orange;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
   
}
.dashboardcontentcard2card1content4p{
    color: white;
    padding: 4px;
    background-color: skyblue;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
   
}
.dashboardcontentcard2card1content5p{
    color: white;
    padding: 4px;
    background-color: rosybrown;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
   
}
.dashboardcontentcard2card1content2p{
    color: white;
    padding: 4px;
    background-color: green;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
   
}
.dashboardcontentcard2card1content1flex{
    display: flex;
    width: 80%;
   
}
.dashboardcontentcard2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}
.dashboardcontentcard2card1content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.light{
    color: #76839A;
    font-size: 10px;
}
.dashboardcontentcard2card1heading{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #76839A;
}
.dashboardcontentcard2card3{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px;
    border-radius: 10px;
}
.card3heading{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #76839A;
}
.card3content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.card3icon1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card3content1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.green{
    color: green;
}
.red{
    color: red;
}
.fa-chrome:before {
   
    font-size: 20px;
    color: brown;
    padding: 6px;
    border-radius: 50%;
    background: bisque;
    border: 1px solid brown;
}
.fa-opera:before{
    font-size: 20px;
    color: green;
    padding: 6px;
    border-radius: 50%;
    background: bisque;
    border: 1px solid green;

}
.fa-internet-explorer:before{
    font-size: 20px;
    color: skyblue;
    padding: 6px;
    border-radius: 50%;
    background: bisque;
    border: 1px solid skyblue;

}
.fa-firefox:before{
    font-size: 20px;
    color: orange;
    padding: 6px;
    border-radius: 50%;
    background: bisque;
    border: 1px solid orange;

}
.fa-headphones:before{
    font-size: 20px;
    color: darkblue;
    padding: 6px;
    border-radius: 50%;
    background: bisque;
    border: 1px solid darkblue;

}

.card3flex{
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.dashboardcontentcard2card4{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 16px;
    border-radius: 10px;
}
.card4heading{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #76839A;
}
.card4content{
    display: flex;
   
   gap: 20px;
}
.card4comment{
    display: flex;
    gap: 20px;
    align-items: center;
}
.card4dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #6259ca;
}
.card4dot1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
}
.light1{
    color: #76839A;
    font-size: 12px;
    font-weight: 550;
}
.card4content1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bluecolor{
    color: #6259ca;
    font-weight: 600;
    font-size: 14px;
}
.orangecolor{
    color: orange;
    font-weight: 600;
}
.card421{
    
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  .edit-btn {
    cursor: pointer;
    color: white;
    background-color: blue;
    padding: 4px;
    border-radius: 4px;
    
  }
  .delete-btn{
    cursor: pointer;
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 4px;

  }
  .tableimage{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .timage img{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width: 40px;
    height: 40px;
  }
  .tdata{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .tdatap{
    font-size: 14px;
    color:#212519;
    font-weight: 600;
  }
  .tdate{
    font-size: 14px;
    color:#212519;
    
    font-weight: 600;
  }
  .tamount{
    font-size: 14px;
    color:#212519;
    
    font-weight: 600;

  }
.tstatus{
    color: green;
    font-weight: 600;
}
.tstatus1{
    color: red;
    font-weight: 600;
}
.tstatus2{
    color: #f7b731;
    font-weight: 600;

}
.tableHeader h3{
    font-size: 16px;
    color: #0d0c22;
    
    padding-bottom: 8px;
}
.tableMain{
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    margin-top: 30px;
}
.tableHeader{
    border-bottom: 1px solid #76839A;
    
}
.tableInner{
    padding: 30px;
}
.tablelistitems1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.search{
    padding: 4px;
    border-radius: 5px;
}
.select{
    border: none;
    padding: 4px;
    box-shadow: 0px 0px 2px 2px #76839A;
    border-radius: 5px;
}
.tdflex{
    display: flex;
    gap: 10px;
    
}
.dashheadfixed {
    position: sticky;
    top: 0;
    z-index: 2;
    
   
    background-color: #fff;}
    /* #editmodalflex{
        display: flex;
        flex-direction: column;
        gap: 20px;
       
        padding: 30px;
        min-width: 300px;
        
        background: #09ad95;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,50%);
 
    } */ 
   
    .f1{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: space-between;
    }
    #editmodalflex input{
        padding: 6px 2px 6px 10px;
        min-height: 20px;
        border-radius: 10px;
        border: 1px solid #76839a;
        font-weight: 600;

    }

    #updateButton{
        padding: 6px 2px 6px 10px;
        min-height: 20px;
        border-radius: 10px;
        border: 1px solid #76839a;
        font-weight: 600;

    }
    #editModal {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
        display: flex;
       
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(5px); /* Background blur effect */
        z-index: 1000; /* Ensure the modal is on top */
        transition: top 0.5s ease;
    }

    #editmodalflex {
        background: #198754;
       
        border-radius: 8px;
        padding: 30px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
       
        
    }

    /* Add additional styling as needed */

    #editModal.active {
        
        top: 0%; /* Show the modal when it has the 'active' class */
        transform: translate(0%,12%);
        
    }
  #myChart{
    background-color: white;
    padding: 30px;



  }
  .phone{
    display: none;
  }
  @media only screen and (min-width:300px) and (max-width:1000px)
  {
    .dashboard{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.dashboardcontentcard{
    grid-template-columns: 1fr;
}
.drawer{
    display: none;
}
.dashheadfixed{
    width: 100%;
}
.dashboardcontentcard2{
    grid-template-columns: 1fr;
}
.rightnotification{
    transform: translate(0,0);
}
.tableInner{
    width: 100%;
    overflow-x: auto;
    padding-top: 30px;
    /* padding-left: 3px; */
    padding: 0;
}
#myChart{
    padding: 0px;
}
.tablelistitems1{
    padding-top: 20px;
    padding-left: 3px;
    /* padding-left: 3px; */
}
#editModal.active {
    top: 0%;
    transform: translate(0%,25%);
}
/* .dashheadfixed{
    display:none
} */
#dataTable{
    width: 100%;
    overflow-x: auto;
    padding-top: 30px;
    padding-left: 3px;
    padding: 0;

}
.mainnav{
    flex-direction: column;
    gap: 20px;
}
.dashboard{
    padding-left: 0px;
}
.lap{
    display: none;
}
.phone{
    display: block;
}

  }

  @media only screen and (max-width:375px){
    .rightmainnav{
        gap: 8px;
    }
  }
  @media only screen and (min-width:1024px) and (max-width:1100px){
    .dashboard{
        width: 900px;
    }
  }